---
title: The Adventure Begins
---


<section class="l-section l-section--full masthead">
	<div class="masthead-img"></div>
	<h1 class="masthead-title header--playful">Sarah &amp; Ash <small class="masthead-subtitle">24. 06. 2017</small></h1>
</section>

<section id="section-rsvp" class="l-section bg-primary">
	<div class="l-container g g--gutter g--noStretch">
		<div class="g-col g-span12 g-span8--narrowMid g-span5--mid heartTree">
			{{> tree }}
			<div class="sunnies">
				<img class="sunnies-flower sunnies-flower-1" src="{{ site.imgDir }}sunflower-tall.png" />
				<img class="sunnies-flower sunnies-flower-2" src="{{ site.imgDir }}sunflower-tall.png" />
				<img class="sunnies-flower sunnies-flower-3" src="{{ site.imgDir }}sunflower-tall.png" />
			</div>
		</div>
		<div class="g-col g-span12 g-span6--mid g-offset1--mid l-pad--top">
			<h2>We’re Getting Married!</h2>

			<p>We’d love it if you could share our special day<br>with us.</p>
			<p>Please send us your RSVP by post, or if this isn’t possible, via email by pressing the button below.</p>

			<a href="mailto:nolly00@gmail.com,sairwatson@gmail.com?subject=Wedding%20RSVP&body=Name%20of%20guests%3A%0A%0A___________________________________%0A%0ACan%20you%20make%20it%3F%0A%0A___________________________________%0A%0AAny%20dietary%20requirements%3A%0A%0A___________________________________%0A%0A%0AWhich%20song%28s%29%20will%20have%20you%20cutting%20shapes%20on%20the%20dance%20floor%3A%0A%0A___________________________________%0A%0A%0AAny%20further%20questions/comments%0A%0A___________________________________" class="btn btn--raised" id="btn-rsvp">RSVP</a>
		</div>
	</div>
</section>

<section id="section-directions" class="l-section bg-light">
	<div class="l-container">
		<h2>Directions</h2>
		<div class="g g--gutter subtext">
			<div class="g-col g-span12 g-span5--narrowMid l-margin--bottom">
				<img class="imgEffect" src="{{ site.imgDir }}taxi.jpg">
			</div>
			<div class="g-col g-span12 g-span6--narrowMid">

				<h3>The Church</h3>
				<p><addr>St Andrew w St Mary, Pilgrims' Way, How Caple, Hereford, HR1 4SX</addr></p>

				<h3>The Reception</h3>
				<p><addr>How Caple Court, How Caple, Hereford, HR1 4SX</addr></p>
			</div>
		</div>

		<hr>

		<div class="g g--gutter subtext">
			<div class="g-col g-span12 g-span6--mid l-margin--bottom">
				<h3>From Newport/Cardiff</h3>
				<p>Head North on the A449 from Newport to Monmouth.  Then follow the A40 towards Ross on Wye.  At the Premier Inn roundabout, take the exit signposted to Ledbury A449.  After 1.5 miles, turn left onto the B4224 to Hereford. Continue on this road following the brown tourist signs to How Caple Court Gardens; the turnoff will be on the left hand side.</p>
			</div>
			<div class="g-col g-span12 g-span6--mid l-margin--bottom">
				<h3>From London</h3>
				<p>Take the M4 West.  Turn off at Junction 15 and follow the A419 to Gloucester.  At Gloucester get on the A40 towards Ross on Wye.  Turn right onto the A449 for half a mile.  At the Premier Inn roundabout, take the exit signposted to Ledbury A449.  After 1.5 miles, turn left onto the B4224 to Hereford. Continue on this road following the brown tourist signs to How Caple Court Gardens; the turnoff will be on the left hand side.</p>
			</div>
		</div>

		<h3>From the North</h3>
		<p>From Hereford, follow the B4224 east towards Fownhope.  After 10 miles, How Caple Court will be on the right hand side signosted How Caple Court Gardens.</p>
	</div>
</section>

<section class="l-imgSection">
	<img src="{{ site.imgDir }}snaps-1.png">
</section>


<section id="section-faq" class="section-faq l-section bg-secondary">
	<div class="l-container">
		<h2>FAQ</h2>

		<img class="img-birds" src="{{ site.imgDir }}birds.svg">
		<img class="img-heart" src="{{ site.imgDir }}heart-1.svg">
		<img class="img-heart img-heart--2" src="{{ site.imgDir }}heart-2.svg">
		<img class="img-heart img-heart--3" src="{{ site.imgDir }}heart-2.svg">


		<h3>Q: Where should we stay?</h3>
		<p><strong class="title-alt">A:</strong> There are lots of B&amp;B’s and hotels around How Caple. Check out our <a href="#section-accommodation">accommodation</a> section for some suggestions.</p>

		<h3>Q: Can we throw copious amounts of paper at you once you’ve tied the knot?</h3>
		<p><strong class="title-alt">A:</strong> As much as we would love this, sadly the local widllife prohibit this.  You can instead throw petal confetti which we’ll be providing or feel free to bring some more if you have a particular petal in mind.</p>

		<h3>Q: Will we get free alcohol all day and night?</h3>
		<p><strong class="title-alt">A:</strong> Feel free to down as much of the table wine as you can during the wedding breakfast.  The venue will be providing a cash bar for the evening, so if you’re planning on getting merry, bring some cash as cards are not accepted.</p>

		<h3>Q: You mentioned drinking – what about if I need to drive to the venue?</h3>
		<p><strong class="title-alt">A:</strong> You are more than welcome to abandon your car overnight at the venue.  There is a car park in How Caple Court which we will have use of for the weekend.  Please do make sure you pick it back up again on the Sunday morning before going home.</p>

		<p>Alternatively, clamber into a local taxi by calling Daz’s Taxis on <a href="tel:01989768738">01989 768738</a>.</p>

		<h3>Q: Should I bring a coat?</h3>
		<p><strong class="title-alt">A:</strong> For those foreign to Ross-on-Wye, it is very much like the rest of the UK.  We have indoor space, but hope to be outside too.  Bring a coat/jumper/gloves/bobble hat to keep you warm so you can party outside with us late into the night.</p>

	<hr>

		<h3>Q: We want to buy you a massive gift – any ideas?</h3>
		<p><strong class="title-alt">A:</strong> Your presence at our wedding is all that we wish for.  However, if you do wish to give a gift, we would be grateful for a contribution towards our dream honeymoon.</p>

	</div>
</section>

<section class="l-imgSection">
		<img src="{{ site.imgDir }}snaps-2.png">
</section>

<section id="section-accommodation" class="l-section bg-light--alt">
	<div class="l-container">

		<div class="g g--gutter">
			<div class="g-col g-span12 g-span6--narrowMid">
				<h2>Accommodation</h2>

				<p>There are many different places to stay around How Caple Court.  Here are a few that we know are in the area, or check out the “more” link for a wider list of places available on booking.com.</p>

				<hr class="short">

				<ul>
					<li><a href="http://www.premierinn.com/gb/en/hotels/england/herefordshire/ross-on-wye/ross-on-wye.html">Premier Inn, Ledbury Rd, Ross on Wye, HR9 7QJ</a></li>
					<li><a href="http://www.thefalconhouse.co.uk/">Falcon House, How Caple, Hereford, HR1 4TF</a></li>
					<li><a href="http://www.muchmarclebandb.co.uk/">Church Corner B&amp;B, Church Lane, HR8 2LY</a></li>
					<li><a href="http://www.thecoachhousebandb.com/">The Coach House, Wilton Lane, Ross on Wye, HR9 6AH</a></li>
					<li><a href="http://www.kingshead.co.uk/">The Kings Head Hotel, 8 High St, Ross on Wye, HR9 5HL</a></li>
				</ul>

				<p><a href="http://www.booking.com/searchresults.en-gb.html?label=gen173nr-1DCAEoggJCAlhYSDNiBW5vcmVmaFCIAQGYAS64AQfIAQzYAQPoAQGoAgM&lang=en-gb&sid=3d15ffb6c4244781e3af96d96a3f6dce&sb=1&src=searchresults&src_elem=sb&error_url=http%3A%2F%2Fwww.booking.com%2Fsearchresults.en-gb.html%3Flabel%3Dgen173nr-1DCAEoggJCAlhYSDNiBW5vcmVmaFCIAQGYAS64AQfIAQzYAQPoAQGoAgM%3Bsid%3D3d15ffb6c4244781e3af96d96a3f6dce%3Bcheckin_month%3D6%3Bcheckin_monthday%3D24%3Bcheckin_year%3D2017%3Bcheckout_month%3D6%3Bcheckout_monthday%3D25%3Bcheckout_year%3D2017%3Bclass_interval%3D1%3Bdest_id%3D-2596495%3Bdest_type%3Dcity%3Bdtdisc%3D0%3Bgroup_adults%3D2%3Bgroup_children%3D0%3Bhlrd%3D0%3Bhyb_red%3D0%3Binac%3D0%3Blabel_click%3Dundef%3Bnha_red%3D0%3Bno_rooms%3D1%3Boffset%3D0%3Bpostcard%3D0%3Bredirected_from_city%3D0%3Bredirected_from_landmark%3D0%3Bredirected_from_region%3D0%3Breview_score_group%3Dempty%3Broom1%3DA%252CA%3Bsb_price_type%3Dtotal%3Bscore_min%3D0%3Bsearch_selected%3D1%3Bsrc%3Dindex%3Bsrc_elem%3Dsb%3Bss%3DFownhope%252C%2520Herefordshire%252C%2520United%2520Kingdom%3Bss_all%3D0%3Bss_raw%3Dfownhope%3Bssb%3Dempty%3Bsshis%3D0%26%3B&ss=How+Caple%2C+United+Kingdom&ssne=Fownhope&ssne_untouched=Fownhope&city=-2596495&checkin_monthday=24&checkin_month=6&checkin_year=2017&checkout_monthday=25&checkout_month=6&checkout_year=2017&room1=A%2CA&no_rooms=1&group_adults=2&group_children=0&ss_raw=how+caple&ac_position=0&ss_short=&dest_id=ChIJddxUm76ycUgRCHaD7ESiPBw&dest_type=city&place_id=ChIJddxUm76ycUgRCHaD7ESiPBw&place_id_lat=51.97219&place_id_lon=-2.577539999999999&place_types=locality%2Cpolitical&search_pageview_id=db90732bfaab0011&search_selected=true&search_pageview_id=db90732bfaab0011">…or many more</a></p>
			</div>
			<div class="g-col g-span12 g-offset1--narrowMid g-span5--narrowMid l-pad--top">

				<img class="imgEffect" src="{{ site.imgDir }}house-3.jpg">
			</div>
	</div>
</section>

<section id="section-wedpics" class="l-imgSection l-imgSection--webpics">
	<a href="https://wedpics.com/wedding/GMYTENRSGM2Q/album">
		<div class="btn-raise-flatten">
			<img src="{{ site.imgDir }}webpics-front.jpg">
		</div>
	</a>
</section>



